* {
  font-family: SpaceFont;
  font-weight: 200;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--font-color);
  margin: 0 auto;
}
:root {
  --primary-color: #212121;
  --primary-color-light: #484848;
  --primary-color-light-transparency: #48484894;
  --primary-color-dark: #000;
  --secondary-color: #ff6f00;
  --secondary-color-light: #ffa040;
  --secondary-color-dark: #c43e00;
  --font-color: white;
}

@font-face {
  font-family: SpaceFont;
  src: url("../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}

* {
  font-family: SpaceFont;
  font-weight: 200;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--font-color);
  margin: 0 auto;
  text-shadow: 0.1em 0.1em 0.05em rgb(0, 0, 0);
}

body {
  background-image: url("../assets/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

.banner img {
  width: 50vw;
}

.banner {
  display: flex;
  width: 60vw;
 
}

#characters {
  display: flex;
  flex-flow: row wrap;
  padding-top: 5%;
  padding-bottom: 5%;
}

.character {
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
  align-content: center;
  width: 600px;
  height: 700px;
  overflow: hidden;
  margin-top: 3%;
  background-color: var(--primary-color-light-transparency);
  border-radius: 15px;
  padding-bottom: 5%;
}

.pics {
  height: 50%;
}

h2 {
  font-size: xx-large;
  font-weight: bold;
  height: 10%;
  padding-top: 2%;
  color: var(--secondary-color);
}

p {
  padding: 5%;
  height: 40%;
}
