:root {
    --primary-color: #212121;
    --primary-color-light: #484848;
    --primary-color-dark: #000000;
    --secondary-color: #ff6f00;
    --secondary-color-light: #ffa040;
    --secondary-color-dark: #c43e00;
    --font-color: white;
}

@font-face {
    font-family: SpaceFont;
    src: url("/src/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
  }
  

* {
    font-family: SpaceFont;
    font-weight: 200;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--font-color);
    margin: 0 auto;
}

body {
    background-color: var(--primary-color-light);
}

@media (min-width: 500px) {
    * {}
}

.banner img {
    width: 100%;
}


/*Mobile Code Grid*/

.grid-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 3px 3px;
    grid-template-areas:
      "title title title title"
      "subTitle subTitle subTitle subTitle"
      "textIntroduction textIntroduction textIntroduction textIntroduction"
      "textIntroduction textIntroduction textIntroduction textIntroduction"
      "imgIntroduction1 imgIntroduction1 imgIntroduction2 imgIntroduction2"
      "imgIntroduction1 imgIntroduction1 imgIntroduction2 imgIntroduction2"
      "descriptionTitle descriptionTitle descriptionTitle descriptionTitle"
      "descriptionText descriptionText imgDescription1 imgDescription1"
      "descriptionText descriptionText imgDescription1 imgDescription1"
      "descriptionText descriptionText imgDescription2 imgDescription2"
      "descriptionText descriptionText imgDescription2 imgDescription2"
      "video video video video"
      "video video video video"
      "card1 card1 card2 card2"
      "card1 card1 card2 card2";
  }
  
  .title { grid-area: title; }
  
  .subTitle { grid-area: subTitle; }
  
  .textIntroduction { grid-area: textIntroduction; }
  
  .imgIntroduction1 { grid-area: imgIntroduction1; }
  
  .imgIntroduction2 { grid-area: imgIntroduction2; }
  
  .descriptionTitle { grid-area: descriptionTitle; }
  
  .descriptionText { grid-area: descriptionText; }
  
  .imgDescription1 { grid-area: imgDescription1; }
  
  .imgDescription2 { grid-area: imgDescription2; }
  
  .video { grid-area: video; }
  
  .card1 { grid-area: card1; }
  
  .card2 { grid-area: card2; }

  /*End Mobile Code Grid*/


  .grid-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    padding: 2%;
    border-radius: 15px;
    background-color: var(--primary-color);
  }

  .imgIntroduction1,
  .imgIntroduction2,
  .imgDescription1,
  .imgDescription2 {
    overflow: hidden;
  }


  .imgIntroduction1 img,
  .imgIntroduction2 img,
  .imgDescription1 img,
  .imgDescription2 img {
    border-radius: 15px;
    height: 20vh;
  }

  .title{
      text-align: center;
      font-size: 30px;
      font-weight: 600;
  }

  .subTitle,
  .descriptionTitle{
      text-align: center;
      font-size: 20px;
      font-weight: 400;
  }

  .textIntroduction,
  .descriptionText{
      text-align: left;
  }